*{
    font-family: "Exo 2", sans-serif;
    text-rendering: optimizeLegibility;
}

.uppercase, .uppercase *{
    text-transform: uppercase !important;
}
p{
    font-weight: 300;
}
header nav .sidenav-trigger{
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;

}
.aalign-items-center{
    display: flex;
    align-items: center;
}

.p0{
    padding: 0 !important;
}

.flex {
    display: flex !important;
}

.max-procent{
    width: 100%;
}
.color-red{
    color: #ae2a27 !important; 
    border-color: #ae2a27 !important;
}



.anm-pulse{
    animation-name: elementor-animation-pulse-shrink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

.anm-pulse:hover{
    animation-play-state: running;
}

header{
    color: white;
    height: 100vh;
}
header nav{
    z-index: 1;
}
header .sidenav-trigger {
    display: flex;
    align-items: center;
}
header .nav-container ul.desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-icon{
    font-size: 40px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    height: 32px;
}
.header-container{
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
}

.header-container > .header-content{
    flex: 1;
    display: flex;
    align-items: center;
}
.header-content-left{
    width: 50%;
    z-index: 0;
}
.header-content-left h1{
    font-weight: 800;
}
.header-bgn-right{
    position: absolute !important;
    bottom: 0;
    right: -15%;
    max-height: 60%;
    max-height: 80%;
}
header nav {
    background-color: #ffffff00;
    box-shadow: none;
    position: absolute;
}
header .nav-container, header .desktop-nav{
    height: inherit;
}


.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 10px;
    font-size: 100%;
    text-transform: uppercase;
}

.nav-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.btn-phone-list{
    background-color: #ae2a27 !important;
}
.bgn-slider{
    z-index: 0;
}

.bgn-slider img.slick-active {
    animation-name: bgn-scale;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

.bgn-slider::before{
    position: absolute !important;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
}

.bgn-slider-overflow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.phone-btn-trigger{
    margin-top: 20px;
}

.phone_list li>a{
    color: white;
    text-align: center;
    font-weight: normal;
}
.phone_list li>a:hover{
    background-color: rgb(69, 69, 69);
}
.bgn-slider, .bgn-slider .slick-list,  .bgn-slider .slick-track{
    height: inherit;
}


/* Card */
.services{
    color: white;
    margin: 0;
}
.services .card{
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

.card-icon img, .card-icon{
    height: inherit;
    display: block;
}

.services .card:nth-child(even){
    background-color: #2d2d2d;
}

.services .card:nth-child(odd){
    background-color: #373737;
}

.services-full{
    height: 300px;
    overflow: hidden;
    position: relative;

}
.services-content{
    width: 80%;
    margin: 0 auto;
}

.service-image-container{
    margin: 10% 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-button{
    color: white;
    background-color:#ae2a27;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 0;
    font-size: 18px;
    height: 65px;
    width: 100%;
}
.services-content h3{
    font-size: xx-large;
}

.services-content p {
    color: gray;
}


/* Project type */
.project-type-container{
    background-color: #373737;
    padding-top: 1px;
}
.project-type-container .title{
    margin: 50px 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
}
.project-type-cards{
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-type-card{
    cursor: pointer;
    position: relative;
    height: 350px;
    width: 48%;
    margin: 10px 0;

}

.project-type-card.active .project-type-card-content {
    color: white;
    background-color: #ae2a27;
}
.project-type-card.active .project-type-card-content a{
    color: black;
    background-color: rgb(255, 255, 255);
}


.project-type-card-img-conteiner{
    height: 100%;
    overflow: hidden;
}
.project-type-card-content{
    word-wrap: break-word;
    position: absolute;
    bottom: -80px;
    width: 80%;
    left: 10%;
    background-color: #2d2d2d;
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    z-index: 1;
}
.project-type-card-content h3{
    font-size: 18px;
    text-wrap: wrap;
}
.project-type-card-content .type{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}
.project-type-card-content a{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #ae2a27;
    color: white;
    cursor: pointer;
}

.project-type-card img{
    height: 100%;
}

/* .bgn-overplay */

.bgn-overplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgn-overplay .icon{
    width: 35%;
}
.icon-bgn {
    display: flex;
    justify-content: center;
    align-self: center;
}
.bgn-img-overplay::before{
    position: absolute !important;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    z-index: 1;
}
.bgn-overplay-context{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ae2a27;
    color: white;
    cursor: pointer;
}
.bgn-overplay-context .btn-outline1, .bgn-overplay-context .btn-outline2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid #ae2a27;
    z-index: 1;
    border-radius: 10px;
} 
.bgn-overplay-context{
    animation-name: elementor-animation-pulse-shrink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 10px;
}
.bgn-overplay-context .btn-outline1{
    animation: v-fade-before 2s infinite ease-in-out;
}

.bgn-overplay-context .btn-outline2{
    animation: v-fade-after 2s infinite ease-in-out;
}

/* Footer */
footer{
    background-color: #2d2d2d;
    color: white;
    padding: 1px;
    margin: 0;
    border-top: 5px #ae2a27 solid;
}
footer .container{
    background-color: #2d2d2d;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: white;

}

footer .map iframe{
    width: 100%;
    height: 200px;
}
footer .info{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .map .icon {
    height: 20px;
    margin: 0 20px;
}

.inherit {
    height: inherit;
}
footer img.boss{
    width: 70%;
    display: block;
    margin: 10px auto;
}

/* Social */
.social {
    height: 20px;
    display: flex;
    align-items: center;
}

.social > a, .social .icon{
    height: inherit;
    display: block;
    padding: 0;

}
.social .icon{
    margin-right: 10px;
}