
@media screen and (max-width: 992px) {

    .header-bgn-right {
        display: none;
    }
    .bgn-slider{
        width: 140%;
        object-fit: cover
    }
    header{
        height: 800px;
    }
    .header-content-left{
        width: 100%;
        margin-top: 0;
    }

    .services .card:nth-child(1),
    .services .card:nth-child(4){
        background-color: #2d2d2d;
    }

    .services .card:nth-child(2),
    .services .card:nth-child(3){
        background-color: #373737;
    }

    .project-type-card {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 450px;
    }
    .project-type-card.active .project-type-card-content {
        color: white;
        background-color: #2d2d2d;
    }
    .project-type-card.active .project-type-card-content a{
        color: white;
        background-color: #ae2a27;
    }
    .project-type-card-img-conteiner {
        flex: 1;
    }
    .project-type-card img{
        width: 100%;
    }
    .project-type-card-content{
        position: static;
        width: 100%;
        bottom: 0px;
        left: 0px;
        height: auto;
    }
    .project-type-card-img-conteiner{
        height: 60%;
    }
    .project-type-card-content a{
        width: 90%;
    } 
    .project-type-card-content .type{
        height: 50px;
    } 
}
@media screen and (max-width: 800px) {
    .project-type-card {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {

    header{
        height: 600px;
    }
    .bgn-slider{
        width: 200%;
        object-fit: cover
    }
    .services .card:nth-child(even){
        background-color: #2d2d2d;
    }
    
    .services .card:nth-child(odd){
        background-color: #373737;
    }

    .project-type-card {

        width: 100%;
        height: 450px;
        margin: 20px 0;
    }

}

@media screen and (max-width: 360px) {
    h1{
        font-size: 3rem;
    }
    .bgn-slider{
        width: 170%;
        transform: translateX(-20%);
    }

    header{
        height: 350px;
    }
    .project-type-card {
        height: 400px;
    }
}
